* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.body {
    background: rgba(255, 144, 14, 0.1);

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}


.nav-title {
    margin-top: 82px;
    margin-left: 200px;
    color: #131313;  
} 

nav>ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

 .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
     margin: 0 200px;  
    width: 100%;
} 


.btn-primary{
    

        height: 60px;
        background:#FF900E;
        border-radius: 8px;
        font-weight: 400;
        color:#FFFFFF;
        font-size: 15px;
        border: 0ch;
        padding: 20px 35px;
        margin-bottom: 40px;
    
}