* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background: rgba(255, 144, 14, 0.1);
}



.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

}


.nav-title {
    margin-top: 82px;
    margin-left: 200px;
    color: #131313;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 200px;
    /* width: 100%;
    margin-left: auto;
    margin-right: auto; */
}

.banner-description {
    color: #727272;
}


.btn-primary {


    height: 60px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 15px;
    border: 0ch;
    padding: 20px 35px;
    margin-bottom: 40px;

}

.features-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 310px;
}

.colour1 {
    color: #727272;
}

.colour2 {
    color: #131313;
}

.colour3 {
    color: #FF900E;
}

.about-title {
    margin-bottom: 25px;
    color: #131313;
}

.body-description {
    color: #727272;
    margin-bottom: 25px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;

}

.main-container button {
    Width: 258px;
    Height: 109px;
    padding: 45px;
}


.list-style {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 586px;
    height: 171px;
    list-style: none;
}

.facts {
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: left;
    margin-bottom: 130px;

}

.facts-info {
    margin-left: 400px;
    margin-bottom: 100px;
}

.plans-info {
    display: flex;
    justify-content: space-evenly;

}

.info {
    border: 1px solid #FF900E;
    border-radius: 8px;
    transform: rotate(-360deg);
}

.sponspors {
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
    margin-bottom: 130px;
}

.sponspors-title {
    margin-bottom: 50px;
}

.sponspors-info {
    margin-bottom: 100px;

}

.sponspors-img {
    display: flex;
    justify-content: space-evenly;
    mix-blend-mode: luminosity;
}

/* copyright */
.copy-right{
    border: 1px solid;
    height: 100px;
    width: 1500px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 400px;
}
#style{
    padding: 49px 410px;
    color: #424242;
}

.foot {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 50px 250px;
}

.foot-text {
    padding-bottom: 30px;
    color: #FFFFFF;
    max-width: 480px;
}

.form-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;

}

form {
    display: block;
}

label {
    display: block;
    margin-bottom: 20px;
}

.foot-input {
    color: #FFFFFF;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.foot-title {
    margin-bottom: 20px;
}

.foot-email {
    font-weight: 400;
    font-size: 18px;
    width: 325px;
    height: 64px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: #FFFFFF;
    background: transparent;
}